<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Import external properties file -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- Define a bean for the Druid DataSource -->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource" >
        <property name="url" value="${mysql.url}"/>
        <property name="driverClassName" value="${mysql.driver}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>

    <!-- Define a bean for the JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druidDataSource"/>
    </bean>

    <!-- Define a bean for the StudentDao through setter method -->
    <bean id="studentDao" class="com.spring.dao.impl.StudentDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <!-- Define a bean for the StudentService through setter method -->
    <bean id="studentService" class="com.spring.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>

    <!-- Define a bean for the StudentController through setter method -->
    <bean id="studentController" class="com.spring.controller.StudentController">
        <property name="studentService" ref="studentService"/>
    </bean>
</beans>